.board {

  width: 640px;
  height: 640px;

  border: 6px solid #3b2414;

}


.row {

  display: flex;

  height: 12.5%;

}


.square {

  width: 12.5%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: #f0d9b5;

}


.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd) {

  background-color: #b58863;

}